.em-blog-share {
    &:after {
        content: '';
        clear: both;
    }
    .footer {
        margin-top: 16px;
        .btn-cancel {
            float: right;
            margin-top: 6px;
            margin-left: 8px;
        }
    }
}
