.em-blog-left-sidebar {
    &.ui.left.sidebar {
        width: 300px;
        top: 55px;
        height: e("calc(100vh - 55px)")!important;
        background-color: #f5f5f5;
        box-shadow: none!important;
        .tms-body {
        	height: 100%;
            .ui.bulleted.list {
                padding: 16px;
                > div.item {
                    > a {
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:before {
                        color: #999;
                    }
                }
            }
        }
    }
}
