.em-blog-content {
    position: fixed;
    top: 55px;
    left: 300px;
    width: e("calc(100vw - 300px)")!important;
    height: e("calc(100vh - 55px)")!important;
    padding: 16px;
    overflow: auto;
}
