.em-chat-content-item-footbar {
    .add-btn {
        color: rgb(88, 96, 105);
    }
    .emoji-item {
        margin-right: 8px;
        img {
            cursor: pointer;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .ui.image.label img {
        height: auto;
    }
}
