.em-channel-tasks-modal {}

.modals.dimmer {
    .em-channel-tasks-modal-parent {

        &.ui.fullscreen.scrolling.modal {
            margin: 8px auto!important;
        }

        >.content {
            padding-top: 0 !important;
            // padding-bottom: 0 !important;
            padding-left: 8px !important;
            padding-right: 8px !important;
        }

        > .actions {
            display: none;
        }
    }
}
