.tms-left-sidebar {
    .tms-body {
        position: absolute;
        top: 98px;
        width: 190px;
        height: e("calc(100vh - 160px)");
        overflow-y: auto;
        &::-webkit-scrollbar-thumb {
            background-color: #475a81;
        }
        i.circular.icon {
            box-shadow: 0 0 0 .1em rgb(65, 131, 196) inset;
        }
        .tms-users {
            .title {
                position: relative;
                h3 {
                    display: inline-block;
                    margin-top: 2px;
                    margin-bottom: 0;
                }
                i.plus.icon {
                    position: absolute;
                    right: 0;
                }
            }
        }
        .tms-channels {
            .title {
                position: relative;
                h3 {
                    display: inline-block;
                    margin-top: 2px;
                    margin-bottom: 0;
                }
                i.plus.icon {
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}
