.em-chat-todo {
    .ui.list {
        .item {
            .content {
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 300px;
                min-width: 300px;
                // width: 300px;
                white-space: nowrap;
                &.red {
                    color: red;
                }
            }
            .actions {
                display: none;
                position: absolute;
                right: 10px;
                >i.icon {
                    margin-right: 0;
                }
            }

            &:hover {
                .actions {
                    display: inline-block;
                }
            }
        }
    }
}
